

*{
  margin: 0;
  padding: 0;
  
}

.topbar {
 font-family: 'Poppins', sans-serif;
  background-color: rgb(96, 30, 162);
  color: white;
  padding: 5px 15px;
  display: flex;
  height: 35px;
  align-items: center;
  font-size: 12px;
  overflow: hidden;
  
}

.contact-in {
  margin-right: 20px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.scroll-text {
  flex: 1;
  overflow: hidden;      
  white-space: nowrap;
  position: relative;
  color: white;
  height: 35px; 
  padding-top: 4px; 
  font-family: 'Poppins', sans-serif; /* Clean font for marquee */
  font-size: 18px;   /* reduced a little for balance */
  font-weight: 600;
  letter-spacing: 1px;        
}

.scroll-text span {
  display: inline-block;
  padding-left: 100%;    
  animation: scroll-left 10s linear infinite;
}


@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* .social-icons {
  display: flex;
  gap: 12px;
  margin-left: 20px;
}

.social-icons a {
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
} */